<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260066278496-v9df6ed2chf9nlkl3jscg0nqoclpufe8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260066278496-v9df6ed2chf9nlkl3jscg0nqoclpufe8</string>
	<key>API_KEY</key>
	<string>AIzaSyCSwn4DyyhQnxkSoM9HBNTGQhN0M9iawDw</string>
	<key>GCM_SENDER_ID</key>
	<string>260066278496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kampusmart2.app</string>
	<key>PROJECT_ID</key>
	<string>kampus-mart-ae6e6</string>
	<key>STORAGE_BUCKET</key>
	<string>kampus-mart-ae6e6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260066278496:ios:6a6f6bba316d88c28b1705</string>
</dict>
</plist>